.container > div {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Yeon Sung', cursive;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 100px 40px;
    
}

html, body {
  background-color: #FFE4C4;
  margin: 10px;
}



.header {
    grid-column: span 12;
    background-color: #CD5C5C;
}

.about {
    grid-column: span 4;
    background-color: #F08080;
}

.portfolio {
    grid-column: span 8;
    background-color: #B22222;
}

.contact {
    grid-column: span 12;
    background-color: #FFA07A;
}

@media screen and (max-width: 480px) {
    .header {
        grid-column: span 6;
    }

